//colors
$white: #FFF;
$background: #F1F4F9;
$background-active: #D5E9FC;
$background-hover: #FFFBEA;
$conta-azul-blue: #147FED;
$border-color: #C7D3DE;
$border-color-active: #AFDAFA;
$text: #5B7995;
$success: #00C559;

//sizes
$side-default-padding: 42px;
$border-radius-default: 4px;
